
// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
// @import 'variables';

// Bootstrap
// @import '~bootstrap/scss/bootstrap';
@import "~@material/textfield/mdc-text-field";
@import "~@material/button/mdc-button";
@import "~@material/top-app-bar/mdc-top-app-bar";
@import "~@material/drawer/mdc-drawer";
@import "~@material/list/mdc-list";
@import "~@material/menu-surface/mdc-menu-surface";
@import "~@material/menu/mdc-menu";
@import "~@material/layout-grid/mdc-layout-grid";
@import "~@material/elevation/mdc-elevation";
@import "~@material/textfield/helper-text/mdc-text-field-helper-text";
@import "~@material/image-list/mdc-image-list";
@import "~@material/card/mdc-card";
@import "~@material/icon-button/mdc-icon-button";
@import "~@material/fab/mdc-fab";
@import "~@material/select/mdc-select";
@import "~@material/form-field/mdc-form-field";
@import "~@material/radio/mdc-radio";
@import "~@material/chips/mdc-chips";

::-webkit-scrollbar {
  width: 7px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1; 
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888; 
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555; 
}

:root{
    --mdc-layout-grid-margin-desktop: 56px;    
    --mdc-layout-grid-gutter-desktop:24px;    
    --mdc-layout-grid-column-width-desktop: 36px;

    --mdc-layout-grid-margin-tablet: 16px;
    --mdc-layout-grid-gutter-tablet: 16px;
    --mdc-layout-grid-column-width-tablet: 72px;

    --mdc-layout-grid-margin-phone: 16px;
    --mdc-layout-grid-gutter-phone: 16px;
    --mdc-layout-grid-column-width-phone: 72px;

    //Color principal
     --mdc-theme-primary:#064683;
    --color-primary:#064683;
}
.my-card-content {
  padding: 16px;
}

.demo-card-shaped {
  border-radius: 24px 8px;
  
}
.cardpad{
  padding: 25px;
}

.demo-cell{
  height: 100px;
  background-color: gray; 
 
}

.panel-login{
  left: 50%;
  top: 50%;
  padding:25px;
  -ms-transform: translate(-50%,-50%);
  transform: translate(-50%,-50%);
  position: fixed;
  
}
.mdc-top-app-bar{
  background-color:var(--color-primary) !important;
}



.mdc-text-field{
  min-width: 300px;
}

.container-completo{
  height:100vh;
}

body{
  font-family: 'Nunito', sans-serif !important; 
}

.login-titulo{
  text-align: center;   
  font-size: 1.5em;
  
}

.link-normal{
  color:gray;
}

.panel-contenido{
  
  padding-top: 56px;
  //position: fixed;
  
}

//citas
.panel-detalle-cita{
  overflow-y: scroll;
  padding-left: 0px; 
  padding-right: 0px; 
  padding-bottom:0px;
}

.barra-avatar{
  border-radius: 25px;
}

.cita-list-item{
  
  --mdc-ripple-fg-size:360px; 
  --mdc-ripple-fg-scale:1.7064; 
  --mdc-ripple-fg-translate-start:-134.5px, -144.188px; 
  --mdc-ripple-fg-translate-end:120px, -144px;
  cursor: pointer;
}

.cita-grupo{
  margin-bottom: 0px;
  margin-top: 15px;
}
.menu-cita-list{
  color:white;
}
.boton-citas{
  --mdc-ripple-fg-size: 33px;
  --mdc-ripple-fg-scale: 2.70257;
  --mdc-ripple-fg-translate-start: 30px, 14.0156px;
  --mdc-ripple-fg-translate-end: 11.4961px, 11.4961px; 
  background-color:var(--color-primary);
  position: absolute;
  bottom:15px;
  right:15px;
  color:white;
  transition-property: width, height;
  transition-duration: 250ms;
}
.boton-pacientes{
  --mdc-ripple-fg-size: 33px;
  --mdc-ripple-fg-scale: 2.70257;
  --mdc-ripple-fg-translate-start: 30px, 14.0156px;
  --mdc-ripple-fg-translate-end: 11.4961px, 11.4961px; 
  background-color:var(--color-primary);
  position: absolute;
  bottom:15px;
  right:15px;
  color:white;
  transition-property: width, height;
  transition-duration: 250ms;
}

//detalle de cita
.caja-detalle-cita{
  width: 100% !important;
  min-width: 100px;
}

.boton-detalle-cita{
  --mdc-ripple-fg-size: 33px;
  --mdc-ripple-fg-scale: 2.70257;
  --mdc-ripple-fg-translate-start: 30px, 14.0156px;
  --mdc-ripple-fg-translate-end: 11.4961px, 11.4961px;
  
  background-color:var(--color-primary);
  position: absolute;
  bottom:15px;
  right:15px;

}
.select-100 {
  min-width: 100px;
  width:100%;
}

.select-25 {
  min-width: 100px;
  width:25%;
}
.menu-opciones-detalle-cita{
  z-index: 10;
}

.panel-citas-mostrar{
   
  animation-name:  width-0-100;
  animation-duration: 250ms;
  animation-timing-function: ease-in;
  width: 100%;
  display: block;
}

.panel-citas-ocultar{
  
  animation-name:  width-100-0;
  animation-duration: 250ms;
  animation-timing-function: ease-out;
  width: 0%;
  display: none;
}
.header-citas-mostrar{
  animation-name:  opacity-0-100;
  animation-duration: 250ms;
  animation-timing-function: ease-in;
  width: 100%;
  display:flex;
}

.header-citas-ocultar{
  
  animation-name:  opacity-100-0;
  animation-duration: 250ms;
  animation-timing-function: ease-out;
  width: 0%;
  display: none;
}
.top-bar-citas{  
  position: relative;
  max-height: 56px;
  z-index: 10;
  border-right-color: white;
  border-right-style: solid;
  border-right-width: 1px;

  border-top-color: white;
  border-top-style: solid;
  border-top-width: 1px;
  background-color: rgb(167, 165, 165)!important ;
}
.top-bar-citas-mostrar{
  animation-name:  width-0-100;
  animation-duration: 250ms;
  animation-timing-function: ease-in;
  width: 100%;
  display: flex;
}

.top-bar-citas-ocultar{
  animation-name:  width-100-0;
  animation-duration: 250ms;
  animation-timing-function: ease-out;
  width: 0%;
  display: none;
}

.text-buscador-citas-ocultar{
  animation-name:  width-100-0;
  animation-duration: 250ms;
  animation-timing-function: ease-out;
  width: 0%;
display: none;
}
.text-buscador-citas{
  max-height: 56px;
  width:0%;
  display: none;
}

.text-buscador-citas-mostrar{
  animation-name:  width-0-100;
  animation-duration: 250ms;
  animation-timing-function: ease-in;
  width: 100%;
  display: block;
}

.boton-citas-ocultar{

 
  width: 0px;
  height: 0px;
}

.boton-citas-mostrar{
  
  width: 56px !important;
  height: 56px !important;
}

.paciente-list-item{
  
  --mdc-ripple-fg-size:360px; 
  --mdc-ripple-fg-scale:1.7064; 
  --mdc-ripple-fg-translate-start:-134.5px, -144.188px; 
  --mdc-ripple-fg-translate-end:120px, -144px;
}

.panel-pacientes-mostrar{
  animation-name:  width-0-100;
  animation-duration: 250ms;
  animation-timing-function: ease-in;
  width: 100%;
  display: block;
}

.panel-pacientes-ocultar{
  
  animation-name:  width-100-0;
  animation-duration: 250ms;
  animation-timing-function: ease-out;
  width: 0%;
  display: none;
}

.header-pacientes-mostrar{
  // animation-name:  width-0-100;
  // animation-duration: 250ms;
  // animation-timing-function: ease-in;
  // width: 100%;
  // display:flex;
  
  transition-timing-function: ease-in;
  transition-property: opacity;
  transition-duration: 1s;
  opacity: 1 !important;
  display: flex;
}

.header-pacientes-ocultar{
  
  // animation-name:  width-100-0;
  // animation-duration: 250ms;
  // animation-timing-function: ease-out;
  // width: 0%;
  // display:none;
  transition-duration: 1s;
  transition-property: opacity;
  opacity: 0 !important; 
  display: none;
}

.top-bar-pacientes{  
  position: relative;
  max-height: 56px;
  z-index: 10;
  border-right-color: white;
  border-right-style: solid;
  border-right-width: 1px;
  
  border-top-color: white;
  border-top-style: solid;
  border-top-width: 1px;
  background-color: rgb(167, 165, 165)!important ;
}

.top-bar-pacientes-mostrar{
  // animation-name:  width-0-100;
  // animation-duration: 250ms;
  // animation-timing-function: ease-in;
  // width: 100%;
  transition-property: height;
  transition-duration: 250ms;
  height: 56px !important;
  display: flex;
}

.top-bar-pacientes-ocultar{
  // animation-name:  width-100-0;
  // animation-duration: 250ms;
  // animation-timing-function: ease-out;
  // width: 0%;
  transition-duration: 250ms;
  transition-property: height;
  height: 0px !important;  
  display: none;
}

.text-buscador-pacientes-ocultar{
  animation-name:  width-100-0;
  animation-duration: 250ms;
  animation-timing-function: ease-out;
  width: 0%;
display: none;
}

.text-buscador-pacientes{
  max-height: 56px;
  width:0%;
  display: none;
}
.text-buscador-pacientes-mostrar{
  animation-name:  width-0-100;
  animation-duration: 250ms;
  animation-timing-function: ease-in;
  width: 100%;
  display: block;
}
.boton-pacientes-ocultar{

 
  width: 0px;
  height: 0px;
}

.boton-pacientes-mostrar{
  
  width: 56px !important;
  height: 56px !important;
}


@keyframes opacity-0-100 {
  from   { opacity: 0;}
  to { opacity: 1;}
}
@keyframes opacity-100-0 {
  from   { opacity: 1;}
  to { opacity: 0;}
}



@keyframes width-0-100 {
  from   { width: 0%;}
  to { width: 100%;}
}
@keyframes width-100-0 {
  from   { width: 100%;}
  to { width: 0%;}
}

@media only screen and (max-width: 480px) {
  .panel-detalle-cita {
    display: none;
  }
  .top-bar-detalle{
    display: none;
  }
}

@media only screen and (min-width: 480px) {
  .panel-detalle-cita {
    display: block;
  }
  .top-bar-detalle{
    display: block;
  }
}