@import "~@material/textfield/mdc-text-field";
@import "~@material/top-app-bar/mdc-top-app-bar";
@import "~@material/fab/mdc-fab";
@import "~@material/ripple/mdc-ripple";
@import "~@material/menu-surface/mdc-menu-surface";
@import "~@material/menu/mdc-menu";
@import "~@material/floating-label/mdc-floating-label";
@import "~@material/form-field/mdc-form-field";
@import "~@material/checkbox/mdc-checkbox";
@import "~@material/card/mdc-card";

.seccion-inicio {
  @extend .mdc-top-app-bar__section;
  @extend .mdc-top-app-bar__section--align-start;
}
.seccion-fin {
  @extend .mdc-top-app-bar__section;
  @extend .mdc-top-app-bar__section--align-end;
}
.text-buscador-movil {
  max-height: 55px;
}
.mdc-select .mdc-floating-label{
  padding-left: 24px;
}
.top-bar-movil {
  position: relative;
  max-height: 56px;
  z-index: 10;
  border-right-color: white;
  border-right-style: solid;
  border-right-width: 1px;
  color:white;
  border-top-color: white;
  border-top-style: solid;
  border-top-width: 1px;
}
.top-bar-movil-mostrar {
  animation-name: width-0-100;
  animation-duration: 250ms;
  animation-timing-function: ease-in;
  width: 100%;
  display: flex;
}

.top-bar-movil-ocultar {
  animation-name: width-100-0;
  animation-duration: 250ms;
  animation-timing-function: ease-out;
  width: 0%;
  display: none;
}
.miniatura-null{
  font-size: 50px !important;
  margin-top: -26px;
  color:white;
}
.miniatura-citas{
  font-size: 50px !important;
  padding-left: 10px;
  margin-right: 25px;
}
.text-buscador {
  @extend .mdc-text-field;
  @extend .mdc-text-field--with-trailing-icon;
  @extend .mdc-ripple-upgraded;

  --mdc-ripple-fg-size: 152px;
  --mdc-ripple-fg-scale: 1.77858;
  --mdc-ripple-fg-translate-start: 74.6667px, -29.3333px;
  --mdc-ripple-fg-translate-end: 51.125px, -48px;
  width: 100%;
  min-width: 0px;
}

.text-buscador-input {
  @extend .mdc-text-field__input;
  padding-top: 6px;
  margin-right: 48px;
  padding-right: 0px;
  border-bottom-style: none;
  caret-color: rgba(0, 0, 0, 0.6);
}
.panel-movil-contenido {
  position: relative;
}
.panel-movil {
  overflow-y: scroll;
  padding-left: 0px;
  padding-right: 0px;
}
.boton-accion {
  background-color: var(--color-primary);
  position: absolute;
  bottom: 15px;
  right: 15px;
  color: white;
  transition-property: width, height;
  transition-duration: 250ms;
}
.select-100 {
  min-width: 100px;
  width:100%;
}
.select-25 {
  min-width: 250px;
  width:25%;
}

.caja-detalle-cita{
  min-width: 100px;
  width:100%;
}
.mdc-list-item__citas{
  cursor: pointer;
  border-radius: 8px;
  border-width: 1px;
  border-color: white;
  border-style: solid;
}
.mdc-list-item__citas:hover{
  background-color: #c7c7c7;
}

@media only screen and (max-with:479px){
  .select-25 {
    min-width: 100px !important;
    width:100% !important;
  }
} 

